.review-page {
  background: $background;
  min-height: 100vh;

  &__container {
    max-width: 1271px;
    margin: 0 auto;
    padding: 35px 40px;
  }

  .review-header {
    margin-bottom: 30px;

    h1, #review-counter{
      font-family: $headers-font;
      font-size: 40px;
      font-weight: 600;
      color: $main-text;
      margin: 0;
    }

    .subtitle-light {
      color: $secondary-text;
      margin-top: 8px;
    }
  }
}
