<% if notice %>
  <div class="notice-flash" role="alert">
    <%= notice %>
    <button type="button" class="btn-close-notice-flash" aria-label="Close" onclick="this.parentElement.remove()">×</button>
  </div>
<% end %>
<% if alert %>
  <div class="alert-flash" role="alert">
    <%= alert %>
    <button type="button" class="btn-close-flash" aria-label="Close" onclick="this.parentElement.remove()">×</button>
  </div>
<% end %>
