<% if notice %>
  <div class="notice-flash" role="alert">
    <button type="button" class="btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert-flash" role="alert">
    <button type="button" class="btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>
