<div class="step-container" data-controller="budget">
  <h2 class="step-title">What's your daily budget?</h2>
  <p class="step-subtitle">(Travel & accommodation not included)</p>

  <% trip = preferences_form.user_trip_status.trip %>
  <%= form_with model: preferences_form,
                url: trip_preferences_form_path(trip, preferences_form),
                method: :patch,
                data: { turbo: false},
                class: "step-form" do |f| %>

    <%= f.range_field :budget,
                      min: 1,
                      max: 500,
                      value: (preferences_form.budget.presence || 250),
                      class: "styled-slider",
                      data: { budget_target: "range", budget_initial_value_value: 250, action: "input->budget#update" } %>


    <div class="budget-value" data-budget-target="value"></div>

    <div class="scale-row">
      <span>1€</span>
      <span>500€</span>
    </div>

    <input type="hidden" name="step" value="3">

    <div class="button-row">
      <%= link_to "← Back",
          step2_trip_preferences_form_path(trip, preferences_form),
          data: { turbo_frame: "form_wrapper" },
          class: "back-button" %>

<%= f.submit "Next →", class: "next-button" %>
    </div>
  <% end %>
</div>
