<div class="step-container" data-controller="budget">
  <h1 class="trips-form__title">What's your daily budget?</h1>
  <p class="step-subtitle">(Travel & accommodation not included)</p>

  <% trip = preferences_form.user_trip_status.trip %>
  <%= form_with model: preferences_form,
                url: trip_preferences_form_path(trip, preferences_form),
                method: :patch,
                data: { turbo: false},
                class: "step-form" do |f| %>

    <div data-controller="icon-slider">
      <div class="icon-slider">
        <div class="icon-slider-track" data-icon-slider-target="track" data-action="click->icon-slider#onTrackClick">
          <div class="icon-slider-thumb" data-icon-slider-target="thumb" data-action="mousedown->icon-slider#startDrag touchstart->icon-slider#startDrag">
            <i class="fa-solid fa-euro-sign"></i>
          </div>
        </div>
        <input type="hidden"
               name="preferences_form[budget]"
               min="25"
               max="500"
               step="25"
               value="<%= preferences_form.budget.presence || 250 %>"
               data-icon-slider-target="input"
               data-budget-target="range">
      </div>
    </div>

    <div class="budget-value" data-budget-target="value"></div>

    <div class="scale-row">
      <span>10€</span>
      <span>500€</span>
    </div>

    <input type="hidden" name="step" value="3">

    <div class="button-row">
      <%= link_to "← Back",
          step2_trip_preferences_form_path(trip, preferences_form),
          data: { turbo_frame: "form_wrapper" },
          class: "trips-form__button trips-form__button--secondary" %>

      <%= f.submit "Next →", class: "trips-form__button trips-form__button--primary" %>
    </div>
  <% end %>
</div>
