<div class="get-inspired-page">
  <!-- Header -->
  <div class="get-inspired-header">
    <h1>Get a taste of Paris</h1>
  </div>

  <!-- Activities Grid -->
  <div class="get-inspired-container">
    <div class="get-inspired-grid" data-controller="get-inspired">
      <% @activities.each do |activity| %>
        <%= render 'shared/get_inspired_activity_card', activity: activity %>
      <% end %>
    </div>
  </div>

  <!-- CTA Button -->
  <div class="get-inspired-cta">
    <%= link_to 'Create a trip', new_trip_path, class: 'btn-primary btn-large' %>
  </div>
</div>

<style>
  .get-inspired-page {
    padding: 3rem 2rem;
  }

  .get-inspired-header {
    text-align: center;
    margin-bottom: 3rem;
  }

  .get-inspired-header h1 {
    font-size: 32px;
    font-weight: 600;
    color: #374151;
  }

  .get-inspired-container {
    max-width: 1400px;
    margin: 0 auto 3rem auto;
  }

  .get-inspired-cta {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }

  .btn-large {
    padding: 16px 48px;
    font-size: 16px;
    min-width: 200px;
  }
</style>
