<div class="get-inspired-page">
  <div class="get-inspired-page__container">
    <!-- Header -->
    <div class="get-inspired-header">
      <h1>Get a taste of Paris</h1>
      <%= link_to 'Create a trip', new_trip_path, class: 'get-inspired-header__create-btn' %>
    </div>

    <!-- Activities Grid -->
    <div class="get-inspired-content">
      <div class="get-inspired-grid" data-controller="get-inspired">
        <% @activities.each do |activity| %>
          <%= render 'shared/get_inspired_activity_card', activity: activity %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Scroll to top button %>
  <button type="button" class="scroll-to-top" data-controller="scroll-to-top" data-action="click->scroll-to-top#scrollToTop" title="Back to top">
    ↑
  </button>
</div>
