<div class="home-hero">
  <div class="home-hero__container">
    <div class="home-hero__content">
      <h1 class="home-hero__title">
        Start your unique<br>
        adventure in Paris
      </h1>
      <p class="home-hero__description">
        Let us know what you like, we build the perfect Parisian escapade for you
      </p>
      <%= link_to "Create a trip", "#", class: "home-hero__button" %>
    </div>

<%#     ceci est un commentaire
 %>    <div class="home-hero__image">
      <%= image_tag "terrasse-in-Paris.png", alt: "Parisian terrace" %>
    </div>
  </div>
</div>
