.field {
  margin-bottom: 12px;
  width: 100%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;

  label {
    font-size: 14px;
    font-family: $body-font;
    font-weight: 400;
    color: $main-text;
    margin-bottom: 4px;
    display: block;
    text-align: left;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    border: 1.5px solid #D1D5DB;
    border-radius: 4px;
    font-size: 15px;
    color: $main-text;
    background-color: $background;
    transition: all 0.2s ease;
    margin-top: 1px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $secondary-text;
    }

    &::placeholder {
      color: #D1D5DB;
      font-weight: 300;
    }
  }
}
