
.notice-flash {
  font-family: $body-font;
  /*   TO DO */
}

.btn-close-notice-flash {
  font-family: $body-font;
  /*   TO DO */
}

.alert-flash {
  height: 12px;
  /*   TO DO */
}

.btn-close-flash {
  height: 12px;
  /*   TO DO */
}
