.itinerary-card {
  background: $background;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  height: 1464px;
  display: flex;

  &__image {
    width: 224px;
    height: 224px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
    padding: 26px 33px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  &__tag {
    position:absolute;
    top: 26px;
    right: 27px;
    background: $pink-dark;
    border-radius: 5px;
    padding: 3px 9px;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 500;
    color: white;
    z-index: 10;
  }

  &__dates {
    font-family: $body-font;
    font-size: 16px;
    color: $secondary-text;
    margin-top: 14px;
    margin-bottom: 0;
  }

    &__back-to {
    font-family: $body-font;
    font-size: 16px;
    color: $secondary-text;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  &__title {
    font-family: $headers-font;
    font-size: 30px;
    font-weight: 600;
    color: $main-text;
    margin: 0;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    flex: 1;
  }

  &__section {
    background: rgba(245, 158, 11, 0.1);
    position: relative;
    border-radius: 8px;
    padding: 16px 8px;
    max-height: 237px;
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    font-family: $body-font;
    font-size: 16px;
    font-weight: 600;
    color: $terracotta-dark;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__section-avatars {
    display: flex;
    gap: 10px;
  }

  &__section-day {
    background: #d97706;
    color: white;
    position: relative;
    border-radius: 8px;
    margin-top: 24px;
    padding: 16px 8px;
    max-height: 66px;
    display: flex;
    justify-content: space-between;
  }

  &__tag-date {
    padding: 16px 8px;
    margin-bottom: auto;
    margin-top: auto;
    color: white;
  }

  &__day-time {
    font-family: $body-font;
    font-size: 16px;
    color: $secondary-text;
    margin-top: 14px;
    margin-bottom: 0;
  }
}
