// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
// @import "font-awesome";

// Your CSS partials
@import "components/navbar";
@import "components/trip_card";

// Pages
@import "pages/trips_show";
@import "components/field";
@import "components/flashes";
@import "components/devise_form";

// Applicable to the whole app

body {
  background-color: $background ;
  padding-top: 130px;
}
